
/* public */
img{
    width:100%;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
text-decoration: none;
color:black;
}
a:hover{
    color:black;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     position: relative;
    overflow-x: hidden;
    font-size: 16px;
}
h3{
    font-family: "Lato-Semibold";
   font-size:2.500em;
}
/*******Header ****************/
header{
    padding: 20px 0;
    height: 90px;
    position: absolute;
    z-index: 99999;
    width: 100%;
    top: 0;
}
/********Navbar**********/
.navbar-brand{
    font-family: 'Boogaloo';
    width:122px;
    font-size: 40px;
    color:white;
}
.navbar-brand:hover{
    color:white;
}
.navbar{
    width:100%;
}
.nav-item{
    padding-left:20px;
    padding-right:20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
font-size:1.375em;
color:white;;
position: relative;
padding:0;
}
.navbar-expand-lg .navbar-nav .nav-link:before{
    position: absolute;
    content: "";
    height:1px;
    background-color: white;
    bottom: -4px;
    width:0;
}
.navbar-expand-lg .navbar-nav .nav-link.active:before{
    width:100%;
    transition: all .5s;;

}

button.navbar-toggler {
    position: relative;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    opacity: 1;
    border:1px solid #F7CA44;
    text-align: center;
    width:50px;
}
button.navbar-toggler i {
    background-color: #F7CA44;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    animation: nav2 0.8s backwards;
    animation-direction: reverse;
    margin-bottom:5px;
}
button.navbar-toggler i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: nav1 0.8s backwards;
    animation: nav1 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;}
.mobileMenu i:nth-child(3) {
        -webkit-animation: nav3 0.8s backwards;
        animation: nav3 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
.scrollNav {
        top: 0 !important;
        z-index: 99999999999999999999999;
        animation-duration: .5s;
        background:white;
        position: fixed !important;
        box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
        transition: 1s all;
        left: 0;
        width:100%;
        right:0;
        padding: 20px 10px;
        transition: all .5s;;
        animation:sticky;
        height:90px;
    }
    .scrollNav .navbar-expand-lg .navbar-nav .nav-link{
        color:#121212;;
    }
    .scrollNav .navbar-expand-lg .navbar-nav .nav-link:before{
        background-color: #121212;
    
    }
    .Hero-section{ 
        position: relative;
        width: 100%;
        overflow: hidden;
        background-image: url("../images/Home/homeImg.png");
        background-size: cover;
        padding-top:200px;
        padding-bottom: 431px;
        color: white;
        background-repeat: no-repeat;
    }
    .Hero-section h1{
        font-size:4.375em;
        margin-bottom:45px;
    }
    .Hero-section .overlay{
        z-index: 1;
    }


    /****************Animation of mobile Toggler****************/
@-webkit-keyframes nav1 {
    50% {
      -webkit-transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(45deg); } }
  @keyframes nav1 {
    50% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(45deg); } }

  @-webkit-keyframes nav2 {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg); }
    50% {
      -webkit-transform: translateY(9px) rotate(0deg); }
    100% {
      -webkit-transform: translateY(9px) rotate(135deg); } }
  @keyframes nav2 {
    0% {
      transform: translateY(0px) rotate(0deg); }
    50% {
      transform: translateY(9px) rotate(0deg); }
    100% {
      transform: translateY(9px) rotate(135deg); } }
  @-webkit-keyframes nav3 {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg); }
    50% {
      -webkit-transform: translateY(-9px) rotate(0deg); }
    100% {
      -webkit-transform: translateY(-9px) rotate(135deg); } }
  @keyframes nav3{
    0% {
      transform: translateY(0px) rotate(0deg); }
    50% {
      transform: translateY(-9px) rotate(0deg); }
    100% {
      transform: translateY(-9px) rotate(135deg); } 
    }
/*********End Mobile Toggler Animation********/
/*-----------------Hero Section--------------------*/
.heroSection{
vertical-align: middle;
margin-top:390px;
text-align: center;
padding-bottom: 344px;
}
.heroSection h1{
font-size:4.375em;
margin-bottom:50px;

}

section{
    padding:100px 0;;
    
}

.carousel-item .carousel-caption h1{
    font-size: 2.375em;
    font-family: "Lato-Semibold";
    margin-bottom: 50px;;
}
.carousel-inner .carousel-caption{
    top:30%;
}
.carousel-caption .donate{
padding:18px 45px;
font-size: 18px;
height: 60px;
border:0;
margin: 0 20px;
}
/*----------- Video -----------------*/
.heroVideo{
    margin-top:-345px;
    padding-bottom:130px;
}
/*--------------About Us ----------*/
#aboutus{
    padding-bottom: 80px 0;
    background-color: #F5F5F5;
    position: relative;
}
.aboutImg{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top:65px;
}
.YellowBackground{
    position: absolute;
    width:40%;
    left:0;
    background-color: #F7CA44;
    height:100%;
    top:0;
}
.title{
    margin-bottom:90px;
}

.title h3{
    font-size:2.500em;
    font-weight: 600;
    
}
.title p{
    font-size:  1.125em;
    font-family: "Lato-Medium";  
    color:#777373; 
}
#aboutus .counterBox{
    width:100%;
    background-color:white;
    padding:30px 30px;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.16);
        text-align: center;
        border-radius: 10px;;
}
.counterBox .counterImg{
    width: 65px;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
}
.countNum{
font-size: 1.850em;
color:#121212;
font-weight: 600;;
}
.counterBox span{
    color:#777373;
    font-size: 1.025em;
    font-family: "Lato-Medium";
}

.Donate{
    background-color: #F7CA44;
    border-radius: 20px;
    height:50px;
    margin-top:5px;
    color:white;
    font-weight: 500;
    font-family: "Lato-Medium";
    font-size:1.250em;
    padding:8px 35px;
    border:1px solid #F7CA44;
    transition: all .5s;;
}
.Donate:hover{
    background-color: white;
    color:#F7CA44;
    transition: all .5s;;
}
#aboutus .Donate{
    margin-bottom:30px;
}
.whatDoItem{
    text-align: center;
}
.whatDoItem h3{
    margin-bottom: 15px;
    font-size: 1.550em;
}
.whatDoItemImg{
    width:100px;
    margin:auto;
    margin-bottom:22px;
    height:100px;
    
}
.whatDoItemImg img{
    height:100%;
}
.whatDoItem p{
    color:#646464;
    font-size: 1.175em;
}

  iframe{
      border-radius: 25px;
      overflow: hidden;
      width:100%;
  }
  .marginTop{
      margin-top:80px;
  }
  .CausesCard{
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
      width:100%;
      border:1px solid transparent;
  }
  .causesImg{
      border-radius: 15px;
      overflow: hidden;
  }
  .CausesCard:hover{
      border:1px solid #F7CA44

  }
  .CausesCard:hover img{
      transform: scale(1.1);
      transition: all .5s;;
  }
  .causesImg img{
    transition: all .5s;;
  }
  .causesDesc{
 padding:45px  10px  45px 20px ;

  }
  .CausesCard:hover  .causesDesc h4{
    transition: all .5s;;
      color:#F7CA44
  }
  .causesDesc h4{
      font-size:1.750em;
      font-family: "Lato-Medium";
color:#121212;
margin-bottom:15px;
transition: all .5s;;
  }

  .causesDesc p{
      font-size:1.250em;
      color:#777373;
      margin-bottom:20px;
      overflow: hidden;
      height:65px;

  }
  .causesDesc span{
    font-size: 1.175em;
    color:#B9B9B9
  }
  .ReadMore{
      color:#F7CA44;
      text-decoration: underline;
  }
  .progContainer{
      margin: 20px 0;
  }
  .progContainer span{
    font-size:1.050em;
    color:#121212;
  }
  .progContainer span.goldenTxt{
      color:#F7CA44;
  }
  .progress{
      margin-top:10px;
      width:100%;
      height:5px;
      overflow: visible;
    
  }
  .progress-bar{
      background-color: #F7CA44;
      height:5px;
      overflow-y: visible;
      position: relative;
 
  }
  .progress-barEnd{
 
      position: absolute;
    width: 15px;
    height: 15px;
    background-color: #F7CA44;
    border-radius: 50%;
    right: -12px;
    top: -5px;
}
  .owl-carousel .owl-stage-outer { 
    overflow: visible;
    }
    
 .owl-carousel .owl-item {
       opacity: 0;
       transition: opacity .2s;
    }
 .owl-carousel .owl-item.active {
      opacity: 1;
    }
    .owl-nav{
        width:100%;
        margin-top:50px;
        text-align: center;
    }
    .owl-nav button span {
        line-height: 20px;
        font-size: 30px;
    
    }
    .owl-nav button{
        margin:5px;
        width:40px !important;
        height:40px !important;
        border-radius: 50%;
        border:1px solid #707070 !important;
    }
    .owl-nav button:hover{
        background-color: #F7CA44 !important;
        color:white !important
    }
   .owl-dot{
        width:12px;
        height:12px;
        background-color: #CACACA !important;
        border-radius: 50%;;
        margin:6px;
    }
   .owl-dot.active{
        background-color: #F7CA44 !important;
    }
    #LatestDonation{
        padding-bottom:130px;
    }
    .DonationsBox{
        overflow: hidden;
        transition: all .5s;
        border-radius: 25px;;
    }
    .DonationsBox:hover{
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
        transition: all .5s;
        margin-top:-10px;
    }
    .DonationsImg{
        border-radius: 25px;
        width:100%;
        margin-bottom:20px;
    }
    .DonationsDesc{
       text-align: center;
    }
    .DonationsDesc h4{
        font-size:1.650em;
        color: #121212;
        margin-bottom: 6px;;
    }
    .DonationsDesc p{
        color:#777373;
        font-size: 1em;
        margin-bottom:15px; 
    }
    .DonationsDesc p.marginZero{
        margin-bottom: 0;;
        color:#F7CA44;
        font-size: 1.125em;
    }

/*----------------- success ---------------*/
#success{
  background-image: url("../images/home/background.png");
  background-size: cover;
  padding:100px 0;
}
.successImg{
height:440px;
border-radius: 25px;
overflow: hidden;
}
.successImg img{
    height:100%;
}
.Donate.white-bg{
    background-color:white;
    color:#121212;
}
.title span{
    display: block;
    margin:30px 0;
    color:#646464; 
    font-weight: 600; 
}
.title.succsesTitle{
    margin-top:45px;
}
.title.succsesTitle h3{
    color:#121212;
    font-size:2.375em;
}
.title.succsesTitle p {
    color:#646464
}
/*-------- Volunteer ---------------------*/
.VolunteerCarItem{
    width:100%;
    box-shadow: 0px 3px 26px #00000029;
border-radius: 25px;
text-align: right;
padding:30px;
position: relative;
height: 375px;;
}
.VolunteerCarItem:hover {
    box-shadow: 0px 5px 28px #00000029;
}
.VolunteerCarItem:hover .VolnteerImg{

animation: right .8s ease-in-out alternate;
}
.VolunteerSocial{
    display: block;
    margin-top:65px;
}
.VolunteerSocial li{
    margin-bottom:25px;
}
.VolunteerCar{
    margin-top:90px;
}
.VolnteerImg{
    position: absolute;
    right: 20%;
    top: -18%;
    width:100%
}

.volDesc h5{
    font-size:26px;
}
.VolunteerCarItem:hover .volDesc h5{
    color:#F7CA44;
}
.volDesc p{
font-size :20px;
color:#646464
}
@keyframes right {
    10%{
     right:22%;
    }
    30% {
      right:25% }
      50%{
        right:28% 
      }
      70%{
        right:25%;
      }
      90%{
        right:22% 
      }
    100% {
      right:20%} }
   
     /*-------------- Blog ----------------*/
  .BlogBox{
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
    width:100%;
    border:1px solid transparent;
    height: 470px;
}
.BlogImg{
    border-radius: 15px;
    overflow: hidden;
    width:45%;
    float: left;
    height: 100%;
}
.BlogImg img{
    height: 100%;;
}
.BlogDesc{
    width:55%;
    float: left;
    display: inline-block;
    padding:65px 20px;
}
.BlogDate{
    margin-bottom:28px;
    font-size: 18px;
    color:#121212;
}
.BlogDesc h4{
font-size:28px;
margin-bottom: 49px;;
}
.BlogDesc p{
    color:#646464;
    margin-bottom: 40px;
}
.BlogDesc a{
    color:#646464;
    font-size: 18px;
    text-decoration: underline;
}
#BeVolunteer{
    background-image: url(../images/Home/bacground-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}
/*--------------- Be Volunteer -------------*/ 
.VolunteerForm{
    margin-bottom:50px;
}
.VolunteerForm .form-group.halfFormgroup{
width:48%;
margin-right:10px;
margin-bottom:30px;
display: inline-block;
}
.VolunteerForm .form-group.halfFormgroup.marginrightZero{
    margin-right: 0;
}
.VolunteerForm .form-control{
    width:100%;
    background-color: transparent;
    border:0;
    border-radius: 0;
    border-bottom: 1px solid #646464;
}
.Donate.white-bg.submitBtn{
    width:240px;
}
/*---------Footer ------------*/
     #footer{
         background-color: #F1F1EB;
         color:#121212;
         padding-top: 80px;;
     }
     .footerTitle{
         font-size: 1.500em;         ;
         margin-bottom: 30px;
        color:#F7CA44
     }
     .footerList p{
         font-size:1.250em;
         color:#121212;
     }
     #footer .VolunteerSocial{
         margin-top:0;
     }
     #footer .VolunteerSocial li{
        list-style: none;
        display: inline-block;
        margin-right: 10px;;
        text-align: center;
        transition: all .5s;
        width:25px;
        }
        #footer .VolunteerSocial li:last-child{
            margin-right:0;
        }
        #footer .VolunteerSocial li a{
            color:#121212
        }
        .VolunteerSocial li:hover a i{
        transform: scale(1.1);
        transition: all .5s;
        }
        .VolunteerSocial li a{
            color:white;
          
        }
        .VolunteerSocial li a i{
        padding:10px;
          
        }
        i.fa-twitter:hover{
            color:#00acee;
        }
        i.fa-facebook-f:hover{
            color:#3b5998;
        }
     
         i.fa-instagram:hover{
            color: #F77737 ;}
    .footerList ul p{
        margin:0;
    }
  

    .form-group .form-control::placeholder{
        margin:0 20px;
        color:#777373;  
      font-size:1.250em;
    }
    .form-group .form-control:focus{
        box-shadow: none;
    }
    .copyRights{
        margin-top:100px;
        padding: 20px 0;
        border-top:1px solid #646464;
    }
    .copyRightsText{
        font-size:1.100em;
        text-align: center;
        color:#646464;
        text-align: left;;
    }

    @media(min-width:300px) and (max-width:1024px){

    .owl-carousel .owl-stage-outer { 
    overflow: hidden;
padding:0px;
    }
    .owl-carousel .owl-item{
        padding:10px;
    }
    .carousel-inner .carousel-caption{
        top:25%;
    }
    .carousel-item .carousel-caption h1{
        font-size: 1.50em;
    }
    .carousel-caption{
left:5%;
right:5%;
    }
    .carousel-inner{
        height:460px;
    }
    .scrollNav{
        height:auto;
        background-color: white;
    }
    header{
        height:auto;
        background-color: rgba(255,255,255,.3);
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        color:#121212;
    }
    .carousel-caption .donate{
        padding: 10px 0;
        width: 120px;
        margin: 0 5px;
        height: 46px;
    }
    .counterBox{
        margin-bottom:20px;
    }
    section,#aboutus,#Blog,#Events,#LatestDonation{
        padding:20px;
    }
    .title.marginTitle{
        margin-top:30px;
    }
    .checkboxStyle {
        margin-left: 0px;
        width: 68px;
        height: 40px;
        padding: 8;
        margin-right: 4px;
    }
    .donateInput{
        width:100%;
    }
    .aboutImg{
        height:auto;
    }
    .aboutImg img{
        height:auto;
    }
    .marginTop{
        margin-top:20px;
    }
    #Events .aboutImg{
        height:auto;
        margin-bottom:20px;

    }
    #Events .aboutImg img{
        height: auto;
    }

.timeLocation span{
    margin-right:0;
}
.timeLocation span {
    font-size: .780em;
    }
    .eventDetails h6 {
        font-size: 1em;}
        .eventDetails {
            margin-top: 0px;
            width: 84%;}
.title h3{
    font-size: 2.300em;
}
#Events {
    padding-bottom: 50px;
}
#Events .title,#Blog .title{
    margin-bottom: 20px;
}

.causesDesc{
    padding:20px 10px;
}
.causesImg{
    height: auto;
}


    .owl-dots{
        margin-top:20px;
    }
}
@media(min-width:767px) and (max-width:1023px){
    .owl-carousel .owl-stage-outer { 
        overflow: hidden;
    padding:0px;
        }
        .owl-carousel .owl-item{
            padding:10px;
        }
      
       .scrollNav{
            height:auto;
            background-color: white;
        }
        header{
            height:auto;
            background-color: rgba(255,255,255,.3);
        }
        .navbar-expand-lg .navbar-nav .nav-link{
            color:#121212;
        }
        .carousel-inner .carousel-caption{
            top:15%;
        }
        .carousel-item .carousel-caption h1 {
            font-size: 2.2em;}
            .carousel-inner{
                height: 640px;;
            }
            title.marginTitle{
margin-top:20px;
            }
            .causesImg{
                height:180px;
            }
          .blogTitle{
              width:85%;
          }
}
@media(min-width:1024px) and (max-width:1250px){
    .counterBox span {
        font-size: .850em;}
}